<div class="container mb-5">
    <div class="accordion accordion-flush mb-3" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Фильтр
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <form id="filterForm">
                    <div class="input-group mt-2 mb-2">
                        <span class="input-group-text" id="basic-addon1">ФИО</span>
                        <input name="fio" type="text" value="{{fio}}" class="form-control" placeholder="ФИО" aria-label="fio" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-2">
                        <input name="start_age" type="number" value="{{start_age}}" aria-label="from" placeholder="18" min="18" max="80" class="form-control">
                        <span class="input-group-text">Диапазон возрастов</span>
                        <input name="end_age" type="number" value="{{end_age}}" aria-label="to" placeholder="80" min="18" max="80" class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon1">Город</span>
                        <select name="city" value="{{city}}" class="form-select" placeholder="Город" aria-label="city" aria-describedby="basic-addon1">
                            <option value="">Все города</option>
                            {{#each cities}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="flex justify-content-center">
                        <button type="submit" class="btn btn-success">Применить</button>
                        <button type="reset" class="btn btn-danger">Сбросить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{#if users}}
    <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
            {{#each users}}
            <div id="{{this.id}}" class="carousel-item {{#if this.active}}active{{/if}} bg-secondary">
            <div class="container-fluid w-75 d-flex justify-content-center p-4">
                <div class="me-4 row">
                    <img class="rounded img-ava border border-dark" src="{{this.avatar}}" alt="">
                    <button class="mt-3 btn btn-success" data-bs-toggle="modal" data-bs-target="#sendInviteModal">Пойти на свидание</button>
                </div>
                <div class="text-light">
                    <p><b>{{this.fio}}</b></p>
                    <p>Возраст: <b>{{this.birthday}}</b></p>
                    <p>Город:<br><b>{{this.city}}</b></p>
                    <p>О себе:<br><b>{{this.about}}</b></p>
                </div>
            </div>
            </div>
            {{/each}}
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
            </div>
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning" role="alert">
        Нет пользователей, удовлетворяющих условиям фильтра
    </div>
    {{/if}}
</div>


    <!-- модальное окно - оформление письма -->
<div class="modal fade" id="sendInviteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="sendInviteModalLabel">Оформление письма</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="inviteForm">
                    <legend class="reg text-center p-2 mb-4">Приглашение</legend>
                    <div class="mb-3">
                        <select class="form-select" name="place[]" required>
                            <option value ="">Укажите наименование места</option>
                            <option value="Ресторан">Ресторан</option>
                            <option value="Парк">Парк</option>
                            <option value="Кафе">Кафетерий</option>
                            <option value="Кино">Кинотеатр</option>
                            <option value="Театр">Театр</option>
                            <option value="Другое место">Другое место</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Точный адрес встречи</label>
                        <input name="address" type="text" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="meet_date" class="form-label">Дата встречи</label>
                        <input name="meet_date" type="date" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="meet_time" class="form-label">Время встречи</label>
                        <input name="meet_time" type="time" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Комментарий партнеру (необязательно для заполнения)</label>
                        <textarea name="body" type="text" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="inviteForm" class="btn btn-secondary">Отправить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="scripts/cards.js"></script>